<div class="about-container w-full h-max flex flex-col relative py-36">
    <div class="about-bg-text absolute flex pt-10">
        <h1 class="about-text-bg text-center w-max">SEBASTIAN<br>GUEVARA</h1>
    </div>
    <div class="about-title-container">
        <h1 class="text-6xl text-center font-bold white title-font">ABOUT <span class="secondary title-font">ME</span>
        </h1>
    </div>
    <div class="about-text-container z-10 mx-14 mt-14 text-justify">
        <p class="white mb-6">
            I'm a frontend developer specialized in Angular. I consider myself a self-taught person and I'm passionate
            about learning new technologies.
        </p>
        <p class="white">
            Welcome again to my portfolio, feel free to contact me if you want to know
            more about what I do.
        </p>
    </div>
    <div class="about-social flex justify-between">
        <div class="left flex gap-x-4">
            <a href="https://www.linkedin.com/in/sebastian-guevara-1535b7183/" target="_blank">
                <mat-icon svgIcon="linkedin" color="primary"></mat-icon>
            </a>

            <a href="https://www.instagram.com/_sebguevara/" target="_blank">
                <mat-icon svgIcon="instagram" color="primary"></mat-icon>
            </a>

            <a href="https://github.com/Seba74" target="_blank">
                <mat-icon svgIcon="github" color="primary"></mat-icon>
            </a>
        </div>
        <div class="right">
            <a href="https://mail.google.com/mail/?view=cm&to=johanguevara1221@gmail.com" target="_blank">
                <mat-icon svgIcon="gmail" color="primary"></mat-icon>
            </a>
        </div>
    </div>
</div>