<div class="home-container w-full">
    <div class="home-title-container px-8 fade-in-fwd">
        <h1 class="white text-5xl home-op-animation">I'm <span class="secondary">Sebastian Guevara</span> Frontend
            Developer</h1>
        <div class="home-text-container white home-op-animation title-font text-4xl">
            <p>Welcome to my portfolio!</p>
        </div>
    </div>
    <div class="home-img-container">
        <div class="home-polygon"></div>
        <div class="home-img-content slide-in-fwd-center">
            <img class="" src="../../../assets/images/profile/me-bge.png" alt="Me">
        </div>
    </div>
    <div class="home-btn-container flex gap-4 mt-28 fade-in-fwd">
        <button mat-raised-button [color]="'primary'" class="home-projects">Projects</button>
        <button mat-stroked-button class="home-cv" (click)="downloadPDF()">
            <mat-icon>download</mat-icon>
            Download CV
        </button>
    </div>
</div>