$palette: (
    50 : #fde7e4,
    100 : #fac3bc,
    200 : #f79c8f,
    300 : #f47462,
    400 : #f15640,
    500 : #ef381e,
    600 : #ed321a,
    700 : #eb2b16,
    800 : #e82412,
    900 : #e4170a,
    A100 : #ffffff,
    A200 : #ffdcda,
    A400 : #ffaba7,
    A700 : #ff938e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bg-accent: (
    50 : #e3e5e7,
    100 : #b9bdc2,
    200 : #8a919a,
    300 : #5b6572,
    400 : #374453,
    500 : #142335,
    600 : #121f30,
    700 : #0e1a28,
    800 : #0b1522,
    900 : #060c16,
    A100 : #5787ff,
    A200 : #2463ff,
    A400 : #0045f0,
    A700 : #003ed6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);