$primary-50: #faf5f7;
$primary-100: #f7ecf0;
$primary-200: #f0dae2;
$primary-300: #e5bcc9;
$primary-400: #d492a7;
$primary-500: #c47088;
$primary-600: #af5369;
$primary-700: #964052;
$primary-800: #7c3845;
$primary-900: #69323d;
$primary-950: #3e1920;

$bg-dark: #201A1B;
$bg-white: #faf5f7;

$text-dark: #000;
$text-white: #fff;
