@import '../styles/var.scss';

.page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}