<div class="header flex justify-between w-screen px-6">
    <app-header [scrollPosition]="scrollPosition" class="z-40"></app-header>
    <button class="menu-toggle right-4 top-6 fixed fade-in-right" (click)="toggleMenu()">
        <svg viewBox="0 0 12 10" class="hamburger h-12 w-12">
            <path d="M10,2 L2,2" class="bar-1" #bar1></path>
            <path d="M2,5 L10,5" class="bar-2" #bar2></path>
            <path d="M10,8 L2,8" class="bar-3" #bar3></path>
        </svg>
    </button>
</div>

<!-- FULL SCREEN MODAL -->
<section class="full-page" [ngClass]="{'getOut': !isMenuOpen}" #modalMenu>
    <div class="menu">
        <div class="menu-bg">
            <span id="spanModal"></span>
            <span id="spanModal"></span>
            <span id="spanModal"></span>
        </div>
        <nav>
            <ul>
                <li *ngFor="let item of pages" [ngClass]="{'active': actualPage == item.id}"><a id="navi" (click)="goToSection(item.id)">{{item.name}}</a></li>
            </ul>
        </nav>
        <div class="header-nav-footer absolute">
            <ul class="social-links">
                <li *ngFor="let item of social"><a id="social" href="{{item.url}}" target="_blank">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
</section>