<div class="skills-container w-screen h-max py-36">
    <div class="skills-stack-developer mb-20">
        <div class="skills-title-container mb-20">
            <h1 class="text-6xl text-center font-bold title-font secondary title-font">MY <span class="white title-font">STACK</span></h1>
        </div>
        <div class="skills-stack-container w-screen flex items-center justify-center">
            <swiper-container initial-slide="0" slides-per-view="auto" loop="true" autoplay-delay="2000" autoplay-disable-on-interaction="false">
                <swiper-slide class="flex items-center justify-center secondary">
                    <mat-icon svgIcon="mongodb" color="primary" class="icon"></mat-icon>
                </swiper-slide>
                <swiper-slide class="flex items-center justify-center secondary">
                    <mat-icon svgIcon="express" color="primary" class="icon invert"></mat-icon>
                </swiper-slide>
                <swiper-slide class="flex items-center justify-center secondary">
                    <mat-icon svgIcon="angular" color="primary" class="icon"></mat-icon>
                </swiper-slide>
                <swiper-slide class="flex items-center justify-center secondary">
                    <mat-icon svgIcon="node" color="primary" class="icon"></mat-icon>
                </swiper-slide>
                <swiper-slide class="flex items-center justify-center secondary">
                    <mat-icon svgIcon="ionic" color="primary" class="icon"></mat-icon>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
    <div class="skills-common-section flex justify-center gap-6">
        <div class="skills-stack-common w-2/5">
            <div class="skills-title-container mb-10">
                <h1 class="text-4xl text-center font-bold title-font white title-font">COMMON</h1>
            </div>
            <div class="skills-stack-container flex items-center justify-center">
                <swiper-container initial-slide="0" slides-per-view="auto" loop="true">
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="jira" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="sass" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="tailwind" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="git" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
        <div class="skills-stack-design w-2/5">
            <div class="skills-title-container mb-10">
                <h1 class="text-4xl text-center font-bold title-font white title-font">DESIGN</h1>
            </div>
            <div class="skills-stack-container flex items-center justify-center">
                <swiper-container initial-slide="0" slides-per-view="auto" loop="true">
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="photoshop" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="illustrator" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="premiere" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                    <swiper-slide class="flex items-center justify-center secondary">
                        <mat-icon svgIcon="figma" color="primary" class="sm-icon"></mat-icon>
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
    </div>
</div>